@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
	font-family: "JetBrains";
	font-weight: 300;
	font-style: light;
	src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-Light.ttf") format("truetype");
}
@font-face {
	font-family: "JetBrains";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "JetBrains";
	font-weight: 500;
	font-style: italic;
	src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-italic.ttf") format("truetype");
}
@font-face {
	font-family: "JetBrains";
	font-weight: 700;
	font-style: bold;
	src: url("/fonts/JetBrains/JetBrainsMonoNerdFontMono-SemiBold.ttf") format("truetype");
}

@theme inline {
	--font-jetbrains: "JetBrains";
}

html {
	background: #13151a;
	color: #fff;
}

body {
	@apply min-h-svh;
}

main {
	@apply grid place-content-center p-5 md:p-20 h-full;
}

main > div {
	@apply container;
}

img {
	margin: 0;
	display: inline-block;
}
