---
import { getCollection, render } from "astro:content"
import Layout from "../layouts/Layout.astro"

export async function getStaticPaths() {
	const items = await getCollection("items")

	return items.map((item) => ({
		params: {
			id: item.slug,
		},
		props: { item },
	}))
}

const { item } = Astro.props
const { data, slug } = item
const { title } = data

export const prerender = true

const { Content } = await render(item)
---

<Layout title={title}>
	<div class="flex gap-12">
		<main class="max-w-3xl">
			<h1
				transition:name={`title-${slug}`}
				class="text-4xl font-bold mb-4">
				{title}
			</h1>
			<div class="prose prose-invert">
				<Content />
			</div>
		</main>
	</div></Layout
>
