---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import Items from "../components/Items.astro"

export const items = await getCollection("items")

const custom_order = ["Perfil", "Educación", "Experiencia", "Proyectos", "Contacto"]

const ordered_items = custom_order
	.map((title) => items.find((i) => i.data.title === title))
	.filter(Boolean)

export const prerender = true
---

<Layout title="Felipe Zapata Soto">
	<section
		aria-label="Mi portafolio"
		class="relative mx-auto max-w-screen-xl text-center">
		<div class="max-full flex flex-col items-center justify-center py-5 md:px-4">
			<p class="my-20 text-white md:w-[60%] md:text-xl">
				¡Bienvenido a mi portafolio! <br /> Explora mis proyectos, habilidades y trayectoria
				como desarrollador web full stack en Javascript.<br />
				Siéntete libre de mirar alrededor y <br />
				<a
					href="/contact"
					class="transition-color font-semibold underline duration-400 ease-in-out hover:cursor-pointer hover:text-rose-400"
					>{">contactarte conmigo<"}</a
				>
			</p>
			<Items items={ordered_items} />
		</div>
	</section>
</Layout>
