---
import { getCollection } from "astro:content"

import Layout from "../layouts/Layout.astro"
import Items from "@/components/Items"

export const items = await getCollection("items")

const custom_order = ["Perfil", "Educación", "Experiencia", "Proyectos", "Contacto"]

const ordered_items = custom_order
	.map((title) => items.find((i) => i.data.title === title))
	.filter(Boolean)

export const prerender = true
---

<Layout title="Felipe Zapata Soto">
	<section
		aria-label="Mi portafolio"
		class="mx-auto mt-20 flex max-w-screen-xl flex-col text-center">
		<div
			class="flex min-h-[500px] w-full flex-col items-center justify-center bg-rose-400/10 py-5">
			<p class="text-white md:w-[60%] md:text-xl">
				<span class="py-5">¡Bienvenido a mi portafolio!</span>
				<br /> Explora mis proyectos, habilidades y trayectoria como desarrollador web full stack
				en Javascript.<br />
				Siéntete libre de mirar alrededor y <br />
				<a
					href="/contact"
					class="transition-color font-semibold underline duration-400 ease-in-out hover:cursor-pointer hover:text-rose-400"
					>{">contactarte conmigo<"}</a
				>
			</p>
		</div>
		<div class="snap-y snap-mandatory">
			<Items
				items={ordered_items}
				client:visible
			/>
		</div>
	</section>
</Layout>
