---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content"

const items = await getCollection("items")

const custom_order = ["Perfil", "Experiencia", "Proyectos", "Certificaciones", "Contacto"]

const ordered_items = custom_order.map((title) => {
	const ele = items.find((i) => i.data.title === title)!
	return ele
})

export const prerender = true
---

<Layout title="Felipe Zapata Soto">
	<section
		aria-label="Mi portafolio"
		class="relative text-center w-full">
		<div class="px-4 py-20 mx-auto max-w-screen-xl">
			{
				ordered_items.map((item) => {
					const { slug, data } = item
					const { title } = data

					return (
						<article>
							<div class="flex flex-col justify-center w-full items-center">
								<a
									href={`/${slug}`}
									transition:name={`title-${slug}`}
									class="relative hover:text-gray-400 cursor-pointer transition-all ease-in-out before:transition-[width] before:ease-in-out before:duration-700 before:absolute before:bg-gray-400 before:origin-center before:h-[1px] before:w-0 hover:before:w-[50%] before:bottom-0 before:left-[50%] after:transition-[width] after:ease-in-out after:duration-700 after:absolute after:bg-gray-400 after:origin-center after:h-[1px] after:w-0 hover:after:w-[50%] after:bottom-0 after:right-[50%]
									mb-2 text-2xl md:text-5xl font-semibold leading-tight text-white">
									{title}
								</a>
							</div>
						</article>
					)
				})
			}
		</div>
	</section></Layout
>
