---
import Frameworks from "./Frameworks.astro"
import Languages from "./Languages.astro"
import Libraries from "./Libraries.astro"
import Herramientas from "./Herramientas.astro"

const { items } = Astro.props
---

<div class="flex w-full flex-col items-center justify-center scroll-smooth">
	{
		items.map(({ slug, data: { title } }) => {
			return (
				<div class="flex w-full flex-col items-center justify-center snap-center h-[400px] scrolling-section items">
					<a
						href={`/${slug}`}
						transition:name={`title-${slug}`}
						class="card relative mb-2 cursor-pointer text-2xl leading-tight font-semibold text-white transition-all ease-in-out before:absolute before:bottom-0 before:left-[50%] before:h-[2px] before:w-0 before:origin-center before:bg-rose-400 before:transition-[width] before:duration-700 before:ease-in-out after:absolute after:right-[50%] after:bottom-0 after:h-[2px] after:w-0 after:origin-center after:bg-rose-400 after:transition-[width] after:duration-700 after:ease-in-out hover:text-rose-400 hover:before:w-[50%] hover:after:w-[50%] md:text-4xl uppercase drop-shadow-[10px_35px_35px_rgba(255,99,126,0.8)]">
						{`<${title}/>`}
					</a>
				</div>
			)
		})
	}
	<div class="h-screen w-full flex flex-col justify-center items-center snap-center">
		<div class="group relative w-full">
			<span
				class="text-2xl md:text-4xl mb-2 cursor-pointer leading-tight font-semibold text-white transition-all ease-in-out group-hover:w-max before:absolute before:bottom-0 before:left-[50%] before:h-[2px] before:w-0 before:origin-center before:bg-rose-400 before:transition-[width] before:duration-700 before:ease-in-out after:absolute after:right-[50%] after:bottom-0 after:h-[2px] after:w-0 after:origin-center after:bg-rose-400 after:transition-[width] after:duration-700 after:ease-in-out hover:text-rose-400 hover:before:w-[50%] hover:after:w-[50%] snap-center uppercase drop-shadow-[1px_35px_35px_rgba(255,99,126,0.8)]"
				>{"<Habilidades/>"}</span
			>
			<div
				class="text-md invisible absolute w-full translate-y-8 transform pt-10 transition ease-in-out group-hover:visible group-hover:translate-y-0 group-hover:text-white">
				<div class="flex flex-wrap items-center justify-center gap-10">
					<Languages />
					<Frameworks />
					<Libraries />
					<Herramientas />
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.scrolling-section {
		opacity: 0;
		transform: translatey(50px);
		margin-bottom: clamp(6em, 10vw, 8em);
	}
</style>

<script>
	import { animate, stagger, inView } from "motion"
	inView(
		".scrolling-section",
		(element) => {
			animate(element, { opacity: [0, 1], y: [50, 0] }, { ease: [0.39, 0.24, 0.3, 1], duration: 1 })

			const cards = element.querySelectorAll(".card")
			if (cards.length > 0) {
				animate(
					cards,
					{ opacity: [0, 1], y: [25, 0] },
					{ type: "spring", delay: stagger(0.25, { startDelay: 0.25 }) },
				)
			}
		},
		{ amount: 0.25 },
	)
</script>
