---
import { ClientRouter } from "astro:transitions"

import "../styles/global.css"

import Download from "../components/Download.astro"

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link rel="icon" />
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>

	<body
		class="font-jetbrains h-[130svh] overflow-y-scroll bg-[#13151a] bg-[url(/ascii-art.png)] bg-fixed bg-blend-multiply transition-all">
		<header
			class="bg-opacity-90 fixed z-20 flex w-full justify-between bg-[#13151a] bg-[url(/ascii-art.png)] bg-fixed p-5 text-white bg-blend-multiply md:px-20 md:py-5">
			<div class="flex flex-col">
				<a
					href="/"
					class="md:text-3xl"
					>Felipe Zapata Soto</a
				>
				full stack dev
			</div>
			<a
				href="/cv-felipe-zapata.pdf"
				title="Descargar Curriculum"
				target="_blank"
				rel="noopener noreferrer"
				class="inline-flex items-center justify-center gap-2 rounded-lg border border-white bg-transparent px-4 py-2 text-center font-bold text-balance text-white transition duration-200 ease-in-out hover:scale-105 hover:cursor-pointer hover:border-rose-600 hover:bg-rose-600 active:bg-gray-600"
				>{(<Download />)} descargar cv</a
			>
		</header>
		<main>
			<div>
				<slot />
			</div>
		</main>
		<ClientRouter />
	</body>
</html>
