---
import { ClientRouter } from "astro:transitions"
import "../styles/global.css"

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link rel="icon" />
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>

	<body class="font-jetbrains">
		<header class="fixed py-10 w-full text-3xl text-center bg-[#13151a] z-20">
			<a href="/">Felipe Zapata Soto</a>
		</header>
		<main>
			<div class="py-10">
				<slot />
			</div>
		</main>
		<ClientRouter />
	</body>
</html>
