---
import { getCollection, render } from "astro:content"
import Layout from "../../layouts/Layout.astro"

export async function getStaticPaths() {
	const proyectos = await getCollection("proyectos")

	return proyectos.map((proyecto) => ({
		params: {
			id: proyecto.slug,
		},
		props: { proyecto },
	}))
}

const { proyecto } = Astro.props
const { data, slug } = proyecto
const { title } = data

export const prerender = true

const { Content } = await render(proyecto)
---

<Layout title={title}>
	<div class="flex gap-12">
		<main class="max-w-3xl">
			<h1
				transition:name={`title-${slug}`}
				class="text-4xl font-bold mb-4">
				{title}
			</h1>
			<div class="prose prose-invert">
				<Content />
			</div>
		</main>
	</div>
</Layout>
